### <span style="color:red">NOTE: This code already has the major results but is still </span><span style="text-decoration:underline;color:red">work in progress</span>.

# 1. Identify the list of foreign ADRs and extract it for use

The stock universe used in this research is from **adr.com**, a  website owned by J.P. Morgan that houses depositary receipts including ADR stocks. From this data, the list of ADR stocks and their ticker names are identified. The list of ADRs  extracted from **adr.com** is saved at: https://github.com/rexlaboratory/wqu-piotroski-f-score/tree/main/adr-universe

# 2. Retrieve financial data using YahooQuery

Using the Yahoo Query Python package (primarily), the financial information of the ADR stocks are retrieved from Yahoo Finance data.

In [1]:
# Load Libraries

import pandas as pd
import os
import yahooquery as yq
from yahooquery import Ticker
import concurrent.futures
from concurrent.futures import ThreadPoolExecutor
from tqdm import tqdm
import yfinance as yf
import datetime
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import concurrent
import logging
import pandas_datareader
from pandas_datareader import data as pdr
import warnings
warnings.filterwarnings("ignore") # Ignore warnings

In [ ]:
# Specify the folder containing the ADR list
folder_path = './adr-universe'

# Retrieve the ADR list data from the files in folder_path; loop through each file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.xlsx'):
        file_path = os.path.join(folder_path, file_name)

        # Read data from the Excel file into a DataFrame
        df_adr = pd.read_excel(file_path)

In [ ]:
# Check how many records
len(df_adr)

2498

In [ ]:
# Filter to include ADRs only
df_adr = df_adr[df_adr['Type'] == 'ADR']

In [ ]:
# Check how many records remain after filtering
len(df_adr)

2177

In [ ]:
# Store ADR ticker names in a list
tickers_list = df_adr['Symbol'].tolist()

In [ ]:
#Columns to retrieve from Yahoo Finance via Yahoo Query
columns_to_extract = [
    'asOfDate', 'periodType', 'NetIncome', 'GrossProfit', 'PretaxIncome',
    'TotalRevenue', 'LongTermDebt', 'LongTermDebtAndCapitalLeaseObligation',
    'TotalAssets', 'CurrentAssets', 'CurrentLiabilities', 'OperatingCashFlow',
    'DilutedEPS', 'ShareIssued'
]

# List of tickers
tickers = tickers_list


#Define a function to fetch the data
def fetch_data(ticker):
    try:
        # Get income statement data for the current ticker
        financial_data = Ticker(ticker).all_financial_data()

        # Extract the specified columns (with null values for non-existing columns)
        data_for_ticker = {column: financial_data.get(column) for column in columns_to_extract}

        # Add 'ticker' as a key to the dictionary
        data_for_ticker['ticker'] = ticker

        # Convert the dictionary to a DataFrame and return it
        return pd.DataFrame(data_for_ticker)
    except Exception as e:
        # print(f"Error fetching data for {ticker}: {str(e)}")

        return pd.DataFrame()

In [ ]:
# Note: Running this code may take a while to complete. ThreadPool helped gain a slight improvement in run time.

# Parallel processing to fetch the financial data
with ThreadPoolExecutor() as executor, tqdm(total=len(tickers), desc="Fetching Data") as pbar:
    # Fetch data for all tickers concurrently
    df_list = list(executor.map(lambda ticker: (pbar.update(1) or fetch_data(ticker)), tickers))

Fetching Data: 100%|███████████████████████████████████████████████████████████████| 2177/2177 [14:22<00:00,  2.52it/s]

In [ ]:
# Filter out unsuccessful fetches (False values)
df_list1 = [df for df in df_list if isinstance(df, pd.DataFrame) and not df.empty]

In [ ]:
# Combine individual DataFrames into one DataFrame
df1 = pd.concat(df_list1, ignore_index=True)

C:\Users\rexeu\AppData\Local\Temp\ipykernel_14984\1365732248.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df1 = pd.concat(df_list1, ignore_index=True)

In [ ]:
# Check the first few records
df1.head()

,asOfDate,periodType,NetIncome,GrossProfit,PretaxIncome,TotalRevenue,LongTermDebt,LongTermDebtAndCapitalLeaseObligation,TotalAssets,CurrentAssets,CurrentLiabilities,OperatingCashFlow,DilutedEPS,ticker
0,2020-12-31,12M,-2.709347e+09,1.076011e+09,-2.581792e+09,4.829019e+09,3.901053e+09,5.234680e+09,1.937376e+10,6.055607e+09,6.121960e+09,7.142430e+08,-26.8200,VNET
1,2021-12-31,12M,5.000980e+08,1.438030e+09,6.651740e+08,6.189801e+09,6.481966e+09,9.885772e+09,2.309504e+10,5.324123e+09,5.179995e+09,1.387922e+09,-2.1600,VNET
2,2022-12-31,12M,-7.759520e+08,1.358256e+09,-6.304550e+08,7.065232e+09,8.909115e+09,1.286204e+10,2.694840e+10,7.052276e+09,6.332085e+09,2.440214e+09,-5.2200,VNET
3,2020-03-31,12M,2.140000e+08,NaN,2.150000e+08,3.310000e+08,NaN,5.950000e+08,8.567000e+09,NaN,NaN,NaN,0.1105,TGOPY
4,2020-09-30,12M,7.090000e+08,NaN,7.090000e+08,8.220000e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TGOPY

In [ ]:
# Check the number of unique tickers fetched
len(df1['ticker'].unique())

983

# 3. Transform data and compute Piotroski F-Scores

In [ ]:
# For historical reference, write the cleansed ADR data to an Excel file
df1.to_excel('./output-files/cleansed_adr_list.xlsx', index=False)

In [ ]:
# Convert 'asOfDate' to datetime type
df1['asOfDate'] = pd.to_datetime(df1['asOfDate'])

# Create a copy of df1
df1_copy = df1

In [ ]:
# Remove duplicate records using both 'asOfDate' and 'ticker'
df1_copy.drop_duplicates(subset=['asOfDate', 'ticker'], keep='first', inplace=True)

# Filter only the tickers with 'asOfDate' values: '2020-12-31', '2021-12-31', '2022-12-31'
target_asofdates = ['2020-12-31', '2021-12-31', '2022-12-31']
df_filtered1 = df1_copy[df1_copy['asOfDate'].isin(target_asofdates)]

# Filter tickers with ALL three 'asOfDate' records: 2020, 2021, 2022. Ensure all three years have record for each ticker.
filtered_tickers = df_filtered1.groupby('ticker')['asOfDate'].transform('nunique') == 3
df_filtered2 = df_filtered1[filtered_tickers]
df_filtered3 = df_filtered2[df_filtered2['asOfDate'].isin(target_asofdates)]

## 3.1 Computing for the Piotroski F-Scores

From the financial information, the following nine questions are answered using a binary logic. For each ADR stock in a given year, one (1) point is earned if the answer to the corresponding question is ‘yes’. Otherwise, zero (0) point is given.

1. Is Net Income positive?
2. Is Operating Cash Flow positive?
3. Is Return on Assets (Net Income divided by Total Assets) higher this year compared to last year?
4. Is Operating Cash Flow greater than Net Income?
5. Is Leverage (Long Term Debt And Capital Lease Obligation divided by Total Assets) lower this year compared to last year?
    5a.  Long Term Debt is used as a proxy in case Long Term Debt And Capital Lease Obligation is not available from Yahoo Finance data.
6. Is Liquidity (Current Assets divided by Current Liabilities) higher this year compared to last year?
7. Is Shares Issued lower this year compared to last year?
8. Is Gross Margin (Gross Profit divided by Total Revenue) higher this year compared to last year?
    8a.  Pretax Income is used as a proxy in case Gross Profit is not available from Yahoo Finance data.
9. Is Asset Turnover (Total Revenue divided by Total Assets) higher this year compared to last year?

In [43]:
# Define a function to calculate Boolean values for each of the Piotroski criteria
# Note: IsLeverage2Improved is used as a proxy for IsLeverage1Improved depending on financial statement format from Yahoo Finance
# Note: IsGrossMargin2Improved is be used as a proxy for IsGrossMargin1Improved depending on financial statement format from Yahoo Finance
def calculate_boolean_values(df):
    df['IsNetIncomePositive'] = (df['NetIncome'] > 0).astype(int)
    df['IsOperatingCashFlowPositive'] = (df['OperatingCashFlow'] > 0).astype(int)
    df['IsROAImproved'] = ((df['NetIncome'] / df['TotalAssets']) > (df.groupby('ticker')['NetIncome'].shift() / df.groupby('ticker')['TotalAssets'].shift())).astype(int)
    df['IsCashFlowGreaterThanNetIncome'] = (df['OperatingCashFlow'] > df['NetIncome']).astype(int)
    df['IsLeverage1Improved'] = ((df['LongTermDebtAndCapitalLeaseObligation'] / df['TotalAssets']) < (df.groupby('ticker')['LongTermDebtAndCapitalLeaseObligation'].shift() / df.groupby('ticker')['TotalAssets'].shift())).astype(int)
    df['IsLeverage2Improved'] = ((df['LongTermDebt'] / df['TotalAssets']) < (df.groupby('ticker')['LongTermDebt'].shift() / df.groupby('ticker')['TotalAssets'].shift())).astype(int)
    df['IsLiquidityImproved'] = ((df['CurrentAssets'] / df['CurrentLiabilities']) > (df.groupby('ticker')['CurrentAssets'].shift() / df.groupby('ticker')['CurrentLiabilities'].shift())).astype(int)
    df['IsShareIssuedReduced'] = ((df['ShareIssued']) < (df.groupby('ticker')['ShareIssued'].shift())).astype(int)
    df['IsGrossMargin1Improved'] = ((df['GrossProfit'] / df['TotalRevenue']) > (df.groupby('ticker')['GrossProfit'].shift() / df.groupby('ticker')['TotalRevenue'].shift())).astype(int)
    df['IsGrossMargin2Improved'] = ((df['PretaxIncome'] / df['TotalRevenue']) > (df.groupby('ticker')['PretaxIncome'].shift() / df.groupby('ticker')['TotalRevenue'].shift())).astype(int)
    df['IsAssetTurnoverImproved'] = ((df['TotalRevenue'] / df['TotalAssets']) > (df.groupby('ticker')['TotalRevenue'].shift() / df.groupby('ticker')['TotalAssets'].shift())).astype(int)

    # Add Fscore column
    df['Fscore'] = (
        df['IsNetIncomePositive'] +
        df['IsOperatingCashFlowPositive'] +
        df['IsROAImproved'] +
        df['IsCashFlowGreaterThanNetIncome'] +
        df[['IsLeverage1Improved', 'IsLeverage2Improved']].max(axis=1) + # Get only the maximum between the two; IsLeverage2Improved is used as a proxy for IsLeverage1Improved
        df['IsLiquidityImproved'] +
        df['IsShareIssuedReduced'] +
        df[['IsGrossMargin1Improved', 'IsGrossMargin2Improved']].max(axis=1) + # Get only the maximum between the two; IsGrossMargin2Improved can be used as a proxy for IsGrossMargin1Improved
        df['IsAssetTurnoverImproved']
    )

In [44]:
# Calculate the Piotroski criteria value using the function defined earlier
calculate_boolean_values(df_filtered3)

In [ ]:
# Create two new dataframes for 2021 and 2022 summaries
df_2021 = df_filtered3[df_filtered3['asOfDate'].dt.year == 2021].copy()
df_2022 = df_filtered3[df_filtered3['asOfDate'].dt.year == 2022].copy()

In [ ]:
# Check the number of unique tickers in 2021 data
len(df_2021['ticker'].unique())

742

In [ ]:
# Check the number of unique tickers in 2022 data
len(df_2022['ticker'].unique())

742

In [ ]:
# For historical reference, save the Fscore data to Excel files
fscore_file_path = './output-files/adr_piotroskFscores_2021_2022.xlsx'
df_filtered3.to_excel(fscore_file_path, index=False)

# For historical reference, save the 2021 Fscore data to Excel files
fscore_2021_file_path = './output-files/adr_piotroskFscores_2021.xlsx'
df_2021.to_excel(fscore_2021_file_path, index=False)

# For historical reference, save the 2022 Fscore data to Excel files
fscore_2022_file_path = './output-files/adr_piotroskiFscores_2022.xlsx'
df_2022.to_excel(fscore_2022_file_path, index=False)

In [ ]:
# Define a variable 'basket_df' as the stock basket
basket_df = df_2021

# Define the start dates and end dates range for downloading the ADR stock price (close price)
start_date_2022 = '2022-01-03'
start_date_2022_1 = '2022-01-04'

end_date_2022 = '2022-12-30'
end_date_2022_1 = '2022-12-31'

start_date_2023 = '2023-01-03'
start_date_2023_1 = '2023-01-04'

end_date_2023 = '2023-12-29'
end_date_2023_1 = '2023-12-30'

In [ ]:
# Note: Fetching the daily stock price data for 2-year range for hundreds of stocks may take a while.

# Fetch adjusted close prices at the defined date range
start_prices_2022 = yf.download(basket_df['ticker'].tolist(), start = start_date_2022, end = start_date_2022_1)['Close']
end_prices_2022 = yf.download(basket_df['ticker'].tolist(), start = end_date_2022, end = end_date_2022_1)['Close']
start_prices_2023 = yf.download(basket_df['ticker'].tolist(), start = start_date_2023, end = start_date_2023_1)['Close']
end_prices_2023 = yf.download(basket_df['ticker'].tolist(), start = end_date_2023, end = end_date_2023_1)['Close']

[*********************100%***********************]  742 of 742 completed

50 Failed downloads:
- HAGHY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- AKRBY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- JDHIY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- GEDRY: No data found, symbol may be delisted
- PSPSY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- HXXPY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- TCBP: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- DRPRY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- THGHY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- SVRE: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- NDWTY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- BKFKY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- NIABY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- AKBDY: No data found, symbol may be delisted
- CIG/C: No data found for this date range, symbol may be delisted
- NPPHY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- CDLR: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- NRGIY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- MLTTY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- CTNGY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- BTTAY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- TCGGY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- ABHBY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- CHLSY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- CCPEL: No data found, symbol may be delisted
- JSLGY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- AKO/B: No data found for this date range, symbol may be delisted
- SIGCY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- CGNWY: No data found, symbol may be delisted
- EXTO: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- CFACY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- TKKYY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- TGASY: No data found, symbol may be delisted
- CNHHY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- BTSNY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- UDIRY: No data found, symbol may be delisted
- KZHXY: No data found, symbol may be delisted
- TTVSY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- ASBRY: No data found for this date range, symbol may be delisted
- VWAPY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- VLVCY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- ZHHJY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- RICFY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- HLN: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- MPZAY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- FLDAY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- WILWY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- GPCR: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- HCXLY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
- GNZUY: Data doesn't exist for startDate = 1641186000, endDate = 1641272400
[*********************100%***********************]  742 of 742 completed

32 Failed downloads:
- AKRBY: Data doesn't exist for startDate = 1672376400, endDate = 1672462800
- GEDRY: No data found, symbol may be delisted
- PSPSY: Data doesn't exist for startDate = 1672376400, endDate = 1672462800
- NDWTY: Data doesn't exist for startDate = 1672376400, endDate = 1672462800
- BKFKY: Data doesn't exist for startDate = 1672376400, endDate = 1672462800
- CIG/C: No data found for this date range, symbol may be delisted
- AKBDY: No data found, symbol may be delisted
- NPPHY: Data doesn't exist for startDate = 1672376400, endDate = 1672462800
- CDLR: Data doesn't exist for startDate = 1672376400, endDate = 1672462800
- NRGIY: Data doesn't exist for startDate = 1672376400, endDate = 1672462800
- MLTTY: Data doesn't exist for startDate = 1672376400, endDate = 1672462800
- ABHBY: Data doesn't exist for startDate = 1672376400, endDate = 1672462800
- CCPEL: No data found, symbol may be delisted
- JSLGY: Data doesn't exist for startDate = 1672376400, endDate = 1672462800
- AKO/B: No data found for this date range, symbol may be delisted
- CGNWY: No data found, symbol may be delisted
- EXTO: Data doesn't exist for startDate = 1672376400, endDate = 1672462800
- CFACY: Data doesn't exist for startDate = 1672376400, endDate = 1672462800
- TGASY: No data found, symbol may be delisted
- CNHHY: Data doesn't exist for startDate = 1672376400, endDate = 1672462800
- BTSNY: Data doesn't exist for startDate = 1672376400, endDate = 1672462800
- UDIRY: No data found, symbol may be delisted
- KZHXY: No data found, symbol may be delisted
- TTVSY: Data doesn't exist for startDate = 1672376400, endDate = 1672462800
- ASBRY: No data found for this date range, symbol may be delisted
- VWAPY: Data doesn't exist for startDate = 1672376400, endDate = 1672462800
- ZHHJY: Data doesn't exist for startDate = 1672376400, endDate = 1672462800
- RICFY: Data doesn't exist for startDate = 1672376400, endDate = 1672462800
- FLDAY: Data doesn't exist for startDate = 1672376400, endDate = 1672462800
- WILWY: Data doesn't exist for startDate = 1672376400, endDate = 1672462800
- GPCR: Data doesn't exist for startDate = 1672376400, endDate = 1672462800
- GNZUY: Data doesn't exist for startDate = 1672376400, endDate = 1672462800
[*********************100%***********************]  742 of 742 completed

32 Failed downloads:
- AKRBY: Data doesn't exist for startDate = 1672722000, endDate = 1672808400
- GEDRY: No data found, symbol may be delisted
- PSPSY: Data doesn't exist for startDate = 1672722000, endDate = 1672808400
- NDWTY: Data doesn't exist for startDate = 1672722000, endDate = 1672808400
- BKFKY: Data doesn't exist for startDate = 1672722000, endDate = 1672808400
- AKBDY: No data found, symbol may be delisted
- CIG/C: No data found for this date range, symbol may be delisted
- NPPHY: Data doesn't exist for startDate = 1672722000, endDate = 1672808400
- CDLR: Data doesn't exist for startDate = 1672722000, endDate = 1672808400
- NRGIY: Data doesn't exist for startDate = 1672722000, endDate = 1672808400
- MLTTY: Data doesn't exist for startDate = 1672722000, endDate = 1672808400
- ABHBY: Data doesn't exist for startDate = 1672722000, endDate = 1672808400
- CCPEL: No data found, symbol may be delisted
- JSLGY: Data doesn't exist for startDate = 1672722000, endDate = 1672808400
- AKO/B: No data found for this date range, symbol may be delisted
- CGNWY: No data found, symbol may be delisted
- EXTO: Data doesn't exist for startDate = 1672722000, endDate = 1672808400
- CFACY: Data doesn't exist for startDate = 1672722000, endDate = 1672808400
- TGASY: No data found, symbol may be delisted
- CNHHY: Data doesn't exist for startDate = 1672722000, endDate = 1672808400
- BTSNY: Data doesn't exist for startDate = 1672722000, endDate = 1672808400
- UDIRY: No data found, symbol may be delisted
- KZHXY: No data found, symbol may be delisted
- TTVSY: Data doesn't exist for startDate = 1672722000, endDate = 1672808400
- ASBRY: No data found for this date range, symbol may be delisted
- VWAPY: Data doesn't exist for startDate = 1672722000, endDate = 1672808400
- ZHHJY: Data doesn't exist for startDate = 1672722000, endDate = 1672808400
- RICFY: Data doesn't exist for startDate = 1672722000, endDate = 1672808400
- FLDAY: Data doesn't exist for startDate = 1672722000, endDate = 1672808400
- WILWY: Data doesn't exist for startDate = 1672722000, endDate = 1672808400
- GPCR: Data doesn't exist for startDate = 1672722000, endDate = 1672808400
- GNZUY: Data doesn't exist for startDate = 1672722000, endDate = 1672808400

[*********************100%***********************]  742 of 742 completed

16 Failed downloads:
- GEDRY: No data found, symbol may be delisted
- DSGUY: No data found for this date range, symbol may be delisted
- AKBDY: No data found, symbol may be delisted
- CIG/C: No data found for this date range, symbol may be delisted
- CCPEL: No data found, symbol may be delisted
- AKO/B: No data found for this date range, symbol may be delisted
- CGNWY: No data found, symbol may be delisted
- TGASY: No data found, symbol may be delisted
- UDIRY: No data found, symbol may be delisted
- STWRY: No data found for this date range, symbol may be delisted
- KZHXY: No data found, symbol may be delisted
- ASBRY: No data found for this date range, symbol may be delisted
- GRVY: No data found for this date range, symbol may be delisted
- MOHCY: No data found for this date range, symbol may be delisted
- PANDY: No data found for this date range, symbol may be delisted
- RICFY: No data found for this date range, symbol may be delisted

Some of the stocks (e.g., delisted stocks in a particular year) do not have price data. For example, in 2022 there are 50 stocks (out of 742) without price data, while we have complete price data for 692 stocks.

In [ ]:
# For historical reference, save the successfully retrieved ADR stock price data to Excel files
start_prices_2022.to_excel('./output-files/start_prices_2022.xlsx', index=False)
end_prices_2022.to_excel('./output-files/end_prices_2022.xlsx', index=False)
start_prices_2023.to_excel('./output-files/start_prices_2023.xlsx', index=False)
end_prices_2023.to_excel('./output-files/end_prices_2023.xlsx', index=False)

In [2]:
# Retrieve the Fscore Excel data processed earlier

fscore_file_path = './output-files/adr_piotroskFscores_2021_2022.xlsx'
fscore_2021_file_path = './output-files/adr_piotroskFscores_2021.xlsx'
fscore_2022_file_path = './output-files/adr_piotroskiFscores_2022.xlsx'
adr_universe_file_path = './adr-universe/dr_universe.xlsx'

df_filtered3 = pd.read_excel(fscore_file_path)
df_2021 = pd.read_excel(fscore_2021_file_path)
df_2022 = pd.read_excel(fscore_2022_file_path)
df_adr_ref = pd.read_excel(adr_universe_file_path)

In [3]:
# Retrieve the stock price data processed earlier
start_prices_2022 = pd.read_excel('./output-files/start_prices_2022.xlsx')
end_prices_2022 = pd.read_excel('./output-files/end_prices_2022.xlsx')
start_prices_2023 = pd.read_excel('./output-files/start_prices_2023.xlsx')
end_prices_2023 = pd.read_excel('./output-files/end_prices_2023.xlsx')

In [4]:
# Merge the Fscore and Stock Price data tables with df_adr_ref to lookup the Region and Country

df_filtered3 = pd.merge(df_filtered3, df_adr_ref[['Symbol', 'Region', 'Country']], left_on='ticker', right_on='Symbol', how='left')
df_filtered3 = df_filtered3.drop('Symbol', axis=1)

df_2021 = pd.merge(df_2021, df_adr_ref[['Symbol', 'Region', 'Country']], left_on='ticker', right_on='Symbol', how='left')
df_2021 = df_2021.drop('Symbol', axis=1)

df_2022 = pd.merge(df_2022, df_adr_ref[['Symbol', 'Region', 'Country']], left_on='ticker', right_on='Symbol', how='left')
df_2022 = df_2022.drop('Symbol', axis=1)

In [5]:
# Retrieve stock price data processed earlier
end_prices_2022_a = pd.DataFrame(end_prices_2022.iloc[0])
end_prices_2023_a = pd.DataFrame(end_prices_2023.iloc[0])
start_prices_2022_a = pd.DataFrame(start_prices_2022.iloc[0])
start_prices_2023_a = pd.DataFrame(start_prices_2023.iloc[0])

# Merge start and end prices for each year for computation of returns
merged_2022 = pd.merge(start_prices_2022_a, end_prices_2022_a, left_index=True, right_index=True, how='inner')
merged_2023 = pd.merge(start_prices_2023_a, end_prices_2023_a, left_index=True, right_index=True, how='inner')

# Compute percentage returns
merged_2022['returns_2022'] = (merged_2022['0_y'] / merged_2022['0_x']) - 1
merged_2023['returns_2023'] = (merged_2023['0_y'] / merged_2023['0_x']) - 1

# Rename columns
merged_2022.rename(columns={'0_x': 'start_price', '0_y': 'end_price'}, inplace=True)
merged_2023.rename(columns={'0_x': 'start_price', '0_y': 'end_price'}, inplace=True)

# Remove the 'ticker' as index and add as a normal column instead
merged_2022.reset_index(inplace=True)
merged_2023.reset_index(inplace=True)
merged_2022.rename(columns={'index': 'ticker'}, inplace=True)
merged_2023.rename(columns={'index': 'ticker'}, inplace=True)

# Get Fscore, Country and Region data thru joining
merged_2022 = pd.merge(merged_2022, df_2021[['ticker', 'Fscore', 'Region', 'Country']], left_on='ticker', right_on='ticker', how='left')
merged_2023 = pd.merge(merged_2023, df_2022[['ticker', 'Fscore', 'Region', 'Country']], left_on='ticker', right_on='ticker', how='left')

In [6]:
# View the 2022 returns data - first few records
merged_2022.head()

,ticker,start_price,end_price,returns_2022,Fscore,Region,Country
0,AAALY,33.450001,34.650002,0.035874,7,Dev. Europe,Germany
1,AACAY,3.900000,2.200000,-0.435897,5,Emrg. Asia,China
2,AAGIY,40.650002,44.430000,0.092989,4,Dev. Asia,Hong Kong
3,AAVMY,14.830000,13.820000,-0.068105,6,Dev. Europe,Netherlands
4,ABDBY,3.550000,4.040000,0.138028,0,Dev. Europe,Denmark

In [7]:
# View the 2023 returns data - first few records
merged_2023.head()

,ticker,start_price,end_price,returns_2023,Fscore,Region,Country
0,AAALY,34.650002,34.650002,0.000000,5,Dev. Europe,Germany
1,AACAY,2.240000,2.890000,0.290179,2,Emrg. Asia,China
2,AAGIY,45.799999,34.669998,-0.243013,4,Dev. Asia,Hong Kong
3,AAVMY,14.570000,14.980000,0.028140,6,Dev. Europe,Netherlands
4,ABDBY,4.040000,4.040000,0.000000,0,Dev. Europe,Denmark

# 4. Compute returns and compare: High-F-score stocks VS Low-F-score stocks VS ADR Stock Index by region

## 4.1  Set up the ADR stock index and compute for the returns
The ADR Stock Index is created using equal-weighted returns of all the ADR stocks in a particular 'region'. This is used as a baseline when comparing the performance of high-F-score and low-F-score stocks.

In [8]:
# Calculate the 2022 Returns

# Save 2022 data as 'df'
df = merged_2022

# Define a function to calculate equal-weighted returns (Index)
def calculate_equal_weighted_returns(df):
    return df.groupby('Region')['returns_2022'].mean().mean()

# Create a dictionary to store the results
summary_dict = {'Region': [], 'Index_Returns': [], 'Low_Fscore_Returns': [], 'High_Fscore_Returns': []}

# Calculate and add returns for Fscore categories and by region
for region in df['Region'].unique():
    region_df = df[df['Region'] == region]
    
    # Equal-weighted returns for the region
    region_returns = calculate_equal_weighted_returns(region_df)
    
    # Equal-weighted returns for Fscore categories
    fscore_0_6_returns = calculate_equal_weighted_returns(region_df[(region_df['Fscore'] >= 0) & (region_df['Fscore'] <= 6)])
    fscore_7_9_returns = calculate_equal_weighted_returns(region_df[(region_df['Fscore'] >= 7) & (region_df['Fscore'] <= 9)])
    
    # Add data to the summary dictionary
    summary_dict['Region'].append(region)
    summary_dict['Index_Returns'].append(region_returns)
    summary_dict['Low_Fscore_Returns'].append(fscore_0_6_returns)
    summary_dict['High_Fscore_Returns'].append(fscore_7_9_returns)

# Create a DataFrame from the summary dictionary
summary_df1 = pd.DataFrame(summary_dict)

In [9]:
# Calculate the 2023 Returns

# Save 2023 data as 'df'
df = merged_2023

# Define a function to calculate equal-weighted returns
def calculate_equal_weighted_returns(df):
    return df.groupby('Region')['returns_2023'].mean().mean()

# Create a dictionary to store the results
summary_dict = {'Region': [], 'Index_Returns': [], 'Low_Fscore_Returns': [], 'High_Fscore_Returns': []}

# Calculate and add returns for Fscore categories and by region
for region in df['Region'].unique():
    region_df = df[df['Region'] == region]
    
    # Equal-weighted returns for the region
    region_returns = calculate_equal_weighted_returns(region_df)
    
    # Equal-weighted returns for Fscore categories
    fscore_0_6_returns = calculate_equal_weighted_returns(region_df[(region_df['Fscore'] >= 0) & (region_df['Fscore'] <= 6)])
    fscore_7_9_returns = calculate_equal_weighted_returns(region_df[(region_df['Fscore'] >= 7) & (region_df['Fscore'] <= 9)])
    
    # Add data to the summary dictionary
    summary_dict['Region'].append(region)
    summary_dict['Index_Returns'].append(region_returns)
    summary_dict['Low_Fscore_Returns'].append(fscore_0_6_returns)
    summary_dict['High_Fscore_Returns'].append(fscore_7_9_returns)

# Create a DataFrame from the summary dictionary
summary_df2 = pd.DataFrame(summary_dict)

## 4.2  Compare the results: High-F-score stocks VS Low-F-score stocks VS ADR Stock Index by region

In [10]:
# Print the 2022 summary
print("================================================================")
print("                  TABLE 1. 2022 RETURNS SUMMARY")
print("================================================================")
summary_df1

================================================================
                  TABLE 1. 2022 RETURNS SUMMARY
================================================================

,Region,Index_Returns,Low_Fscore_Returns,High_Fscore_Returns
0,Dev. Europe,-0.185057,-0.200580,-0.159724
1,Emrg. Asia,-0.141074,-0.143610,-0.132372
2,Dev. Asia,-0.140825,-0.169253,-0.087919
3,Latin America,0.078542,0.124844,0.009090
4,Emrg. Europe,0.111039,0.140486,0.042331
5,Middle East / Africa,-0.292006,-0.323159,-0.159609

In [11]:
# Print the 2023 summary
print("================================================================")
print("                  TABLE 2. 2023 RETURNS SUMMARY")
print("================================================================")
summary_df2

================================================================
                  TABLE 2. 2023 RETURNS SUMMARY
================================================================

,Region,Index_Returns,Low_Fscore_Returns,High_Fscore_Returns
0,Dev. Europe,0.092225,0.074277,0.136727
1,Emrg. Asia,-0.021697,-0.046318,0.088275
2,Dev. Asia,-0.064695,-0.101057,0.069183
3,Latin America,0.394208,0.368080,0.527749
4,Emrg. Europe,0.100477,0.091629,0.116909
5,Middle East / Africa,-0.074799,-0.082560,-0.054104

Based on the contrasting performances of the ADR stock index in Table 1 and Table 2, 2022 and 2023 can be considered as two periods with different market conditions. 2022 can be considered a period under a ‘bad’ market condition and 2023 a period under a relatively ‘good’ market condition.

Based on the results for 2022 in Table 1, the overall performance of high-F-score stocks is better than both the index and the low-F-score stock returns except for two regions – Asia emerging economies and Europe emerging economies. Results for 2023 in Table 2 show that the  high-F-score stocks perform better than both the index and the low-F-score stock returns for all the regions.